.img {
    border: 1px solid;
	max-width: 100%;
    height: 250px;
}

span {
	font-size: 20px;
	color: black;
	font-family: 'Libre Franklin', sans-serif;
	
}
body {
   background-image: url("http://wallpaperlepi.com/wp-content/uploads/2015/05/Green-Mountain-Nature-1920x1080.jpg");
   background-repeat: no-repeat;
   background-size: 200%;
}
.cardSize {
	height: 10px;
}
h1 {
    margin-top: 0;
    font-size: 4em;
    margin-bottom: 0;
    line-height: 3em;
	text-align: center;
	
}