.img {
    border: 1px solid #ddd;
    border-radius: 50%;
	max-width: 100%;
    height: 300px;;
}
.img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
body {
   background-image: url("https://i.pinimg.com/originals/6d/b4/14/6db4140a2de253faab690b0426b01e58.jpg");
   background-repeat: no-repeat;
   background-size: 110%;
}
span {
	font-size: 20px;
	color: black;
	font-family: 'Libre Franklin', sans-serif;
	
}
.cardSize {
	height: 200px;

}
canvas {
	background-color: white;
}

title {
	font-size: large;
	color: black;
	font-family: 'Libre Franklin', sans-serif;
}
h1 {
    margin-top: 0;
    font-size: 4em;
    margin-bottom: 0;
    line-height: 3em;
	text-align: center;
	
}
	



	




	