
body {
	background-color: #f2f2f2;
}


.card_horiz {
	background-color: #f2f2f2;
	border:5px;
}
.card-small-junior {
	margin:30px;
}
.card-contents:hover {
    background-color:#f2f2f2;
}
.jor {
	width:100%;
	height:140px;
	margin:10px;
}
.ali:hover {
    animation: pulse 3s infinite;
	animation-direction: alternate;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
.jor:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
.mates:hover {
	  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

	
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.ali {
	width:100%;
	height:140px;
	margin:10px;
}
.tig {
	width:100%;
	height:140px;
	margin:10px;
}

.tig:hover{
	    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
	
.card-small-junior {
	width:900px;
}

.ser { 
	margin:10px;
}
.ser:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
h5 {margin-top:80px;
	margin-left: 600px;
}
	
h3 {
	margin-left: 250px;
}
h4 {
	font-size:18px; 
}
#chart_div {
	margin-left:220px;
	margin-right:210px;
	margin-bottom:50px;
	border:10px outset;
}


.card-tabs .card-divider {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 20px;
}

.card-tabs .card-divider h1, .card-tabs .card-divider h2, .card-tabs .card-divider h3, .card-tabs .card-divider h4, .card-tabs .card-divider h5, .card-tabs .card-divider h6 {
  margin-bottom: 0;
}

.card-tabs .card-divider .fa {
  position: relative;
  margin-right: 0;
}

.card-tabs .tabs {
  padding-top: 4px;
}

.card-tabs .tabs,
.card-tabs .tabs a {
  background: none;
}

.card-tabs .tabs a {
  padding: 0;
  margin: 0 10px;
  font-size: 13px;
  color: #8a8a8a;
}

.card-tabs .tabs a:hover,
.card-tabs .tabs .is-active a {
  color: #0a0a0a;
}

.card-tabs .tabs-panel {
  padding: 0;
}

.topcontainer {
	margin-left: 150px;
	margin-right:150px;
	margin-top:150px;
	margin-bottom:20px;
}
#map {
	margin-left:160px;
}

@-webkit-keyframes Pulse {
	0% { -webkit-box-shadow: 0 0 14px rgba(0,0,0,0.2); }
	50% { -webkit-box-shadow: 0 0 14px rgba(0,0,0,0.99); }
	100% { -webkit-box-shadow: 0 0 14px rgba(0,0,0,0.2); }
}

@keyframes Pulse {
	0% { box-shadow: 0 0 14px rgba(0,0,0,0.2); }
	50% { box-shadow: 0 0 14px rgba(0,0,0,0.99); }
	100% { box-shadow: 0 0 14px rgba(0,0,0,0.2); }
}
.card-small {
	 margin-left:100px;
	 margin-bottom:60px;
     width:1150px; 

    -webkit-animation: Pulse 3s infinite ease-in-out;
    -o-animation: Pulse 3s infinite ease-in-out;
    -ms-animation: Pulse 3s infinite ease-in-out; 
    -moz-animation: Pulse 3s infinite ease-in-out; 
    animation: Pulse 3s infinite ease-in-out;
}

#map {
        height: 400px;
        width: 400px;
}