.footerM {
	position: bottom;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
	padding: 10px;
}

.singleLetterCol {
	color: blue;
}

.butonas {
	background-color: #83628e;
}

.butonas:hover{
  background-color: #cfb3d8;
}

.butonas:focus{
  background-color: #ffc224;
}

.butonasRate {
	background-color: #83628e;
	width: 280px;
}

.butonasRate:hover{
  background-color: #cfb3d8;
  width: 280px;
}

.butonasRate:focus{
  background-color: #ffc224;
  width: 280px;
}

.breadcrumbM {
  font-size: 20px !important;
  color: #83628e !important;
}

/* .breadcrumbM i, */
/* .breadcrumbM [class^="mdi-"], .breadcrumbM [class*="mdi-"], */
/* .breadcrumbM i.material-icons { */
  /* display: inline-block; */
  /* float: left; */
  /* font-size: 24px; */
/* } */

.breadcrumbsJuodas {
	font-size: 15px;
	color: black;
	text-decoration: underline;
	text-decoration-color: green;
}

.breadcrumbsPilkas {
	font-size: 15px;
	color: grey;
	text-decoration: none;
	text-decoration-color: green;
	text-align: center;
}

.breadcrumbs {
	font-size: 15px;
	color: grey !important;
}

.seselis {
	border: 0px solid;
	padding: 10px;
	box-shadow: 5px 5px 8px grey;
}

.seselis-footer {
	border: 0px solid;
	box-shadow: 5px 5px 10px 8px grey;
}

.no-margin {
		margin-bottom:0px;
}

.imgJ {
    border: 0px solid #ddd;
    border-radius: 50%;
	max-width: 100%;
}
.imgJ:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#chart_div {
	margin-left:220px;
}

.toolTipBC{
       background-color: purple;
}

.chartsBackImg {
	background-image: url('../img/ForrestGump.jpg');
}

.chartsBackColor {
	 background-color:#4e9cfc; /* #ffc224; */
}

.dmoBackColor{
	background-color: #edecea;
	text-align: justify;
}

h2 {
	color: white;
}

.h4 {
	color: #ffc224;
	margin: 0;
}

.inputM {
    width: 280px !important;
	height: 280px !important;
    padding: 12px 20px !important;
    margin: 20px 0 !important;
    box-sizing: border-box !important;
    border: 2px solid white !important;
    border-radius: 4px !important;
	font-size: 200px !important;
	text-align: center !important;
	color: white;
}

.rateImg {
    width: 280px !important;
	height: 280px !important;
    margin: 5px 0 !important;
    box-sizing: border-box !important;
    border: 2px solid white !important;
    border-radius: 4px !important;
}

.paragr {
	margin-right: 30px;
	text-align:justify;
}